/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* .anti-adblock {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.anti-adblock.is-fresh {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.anti-adblock.is-outdated {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
} */

#anti-adblock {
    
}