/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 @import url("flexboxgrid.min.css");

#anti-adblock-admin-container {
    /* background-color: #dddddd; */
    background-image: url('../../public/img/bg.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    min-height: 50vh;;
}
#anti-adblock-admin-container h2.title {
    margin-bottom: 50px;
}
#anti-adblock-admin-container .detected-adblock {

    /* background: white; */
    display: none;
}
#anti-adblock-admin-container .detected-adblock p {
    color: red;
    font-size: 18px;
}


@media screen and (max-width: 782px) {
    #anti-adblock-admin-container {
        background: none;
    }
}